<div>
    <nav class="navbar navbar-light bg-primary">
        <div class="txt">
            <h1 >TODO APP</h1>
            <input type="text"  class="input" [(ngModel)]="name" />&nbsp;&nbsp;
            <button type="button" (click)="PostTodo()"  class="btn btn-success" data-bs-toggle="modal" data-bs-target="exampleModal">
            Add Todo
            </button>
        </div>
        <div class="search">
        <input type="text" class="text" [(ngModel)]="Searchterm" placeholder="Search by Name..." (input)="Search()" />&nbsp;&nbsp;
    </div>
    </nav>
</div>

<div>
    <table class="table">
        <thead>
            <th>
            S.No
            </th>
            <th>
            ID
            </th>
            <th>
            Name  
            </th>
            <th>
            Status
            </th>
            <th>
            CreationDate
            </th>
            <th>
            LastUpdatedDate
            </th>
            <th >
            Change Status Options
            </th>
            <th>
            Actions
            </th>
        </thead>
        <tbody>
            <tr *ngFor="let todo of Showtodo; let i=index">
                <td>
                   {{i+1}} 
                </td>
                <td>
                    {{todo.ID}}
                </td>
                <td>
                    {{todo.Name}}
                </td>
                <td >
                   {{todo.Status}} 
                </td>
                <td>
                    {{todo.CreationDate}}
                </td>
                <td>
                    {{todo.LastUpdatedDate}}
                </td>
                <td>
                    <label class="label" for="exampleCheck1" >Status</label>
                    <div >
                    <select  name="ddlselect" [(ngModel)]="select" (ngModelchange)="Getstatusval($event)" class="form-select"   aria-label="Default select example">
                        <option  selected>--select Status--</option>
                        <option *ngIf="todo.Status.toString() != 'Pending' " value="Pending">Pending</option>
                        <option  value="Inprogress">Inprogress</option>
                        <option  value="Completed">Completed</option>
                    </select>
                </div>
                </td>  
                <td>
                    <input type="button" value="updatestatus" (click)="UpdateTodo(todo.ID,select)" class="btn btn-secondary"/>
                    <input type="button"  value="Delete"  (click)="Dlelete(todo.ID)" class="btn btn-danger"/>
                </td>
            </tr>
            
        </tbody>
      
    </table>
</div>
