<div class="cls1">
    <nav class="navbar navbar-light bg-primary" id="size">
        <div class="txt">
            <h1 class="app" >TODO APP</h1>
            <input type="text"  class="input" [(ngModel)]="name" placeholder="add todo here.." />&nbsp;&nbsp;
            <button type="button" (click)="PostTodo()"  class="btn btn-success" >
            Add Todo
            </button>
        </div>
        <div class="search"  >
           <input  type="text" class="text" [(ngModel)]="Searchterm" placeholder="Search by Name..." (input)="Search()" />&nbsp;&nbsp;
        </div>
    </nav>
</div> 
<div>
    <h3>Status Summary</h3>
    <div class="summary">
        <h5>
            <p>Total Count :{{TotalCount()}}</p>&nbsp;
            <p>Pending count:{{PendingCount()}}</p>&nbsp;
            <p>Inprogress count:{{Inprogresscount()}}</p>&nbsp;
            <p>Completed count:{{Completedcount()}}</p>
        </h5>
    </div>
</div>
<div>
    <table class="table">
        <thead>
            <th>
              S.No
            </th>
            <th >&nbsp;&nbsp;
               Name  
            </th>
            <th>
              Creation Date
            </th>
            <th>
              LastUpdated Date
            </th>
            <th >&nbsp;&nbsp;
              Change Status Options
            </th>
            <th>&nbsp;&nbsp;
              Actions
            </th>
        </thead>
        <tbody>
            <tr *ngFor="let todo of Showtodo; let i=index">
                <td>
                   {{i+1}} 
                </td>
                <td>
                   <input type="text"  class="inputtext" [(ngModel)]="todo.Name"/>
                </td>
                <td>
                    {{todo.CreationDate | date }}
                </td>
                <td>
                    {{todo.LastUpdatedDate | date}}
                </td>
                <td>
                    <select  #select class="form-select"  aria-label="Default select example">
                        <option  selected> {{todo.Status}} </option>
                        <option *ngIf="todo.Status.toString() != 'Pending'" value="Pending">Pending</option>
                        <option *ngIf="todo.Status.toString() != 'Inprogress'" value="Inprogress">Inprogress</option>
                        <option *ngIf="todo.Status.toString() != 'Completed'" value="Completed">Completed</option>
                    </select>
                </td>  
                <td>
                    <button  (click)="UpdateTodo(todo.ID,todo.Name,select.value)" class="btn btn-primary">Update</button>|
                    <button (click)="Dlelete(todo.ID)" class="btn btn-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" className="bi bi-trash-fill" viewBox="0 0 16 16">
                      <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/> </svg>
                    </button>
                </td>
            </tr>
            
        </tbody>
      
    </table>
</div>

